<nav class="main-nav"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <ul>
        <li>
            <a href="/">Add new route</a>
        </li>
        <li>
            <a th:href="@{/users/profile}">Profile</a>
        </li>
        <li sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/users/admin}">Admin</a>
        </li>
        <li>
            <form th:action="@{/users/logout}" th:method="POST">
                <input type="submit" value="Logout">
            </form>
        </li>
    </ul>
</nav>